{% block connent %}
<h1>로그인</h1>
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <p>username</p>
  <input type="text" name="username">
  <br>
  <p>password</p>
  <input type="text" name="password">
  <br>
  <div>
    {% if messages %}

    <ul class="messages">
    
        {% for message in messages %}
    
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    
        {% endfor %}
    
    </ul>
    
    {% endif %}
  </div>
  <input type="submit" value="로그인">
</form>
{% endblock %}